.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6c2dc7;
  padding: 20px;
}

.contactContainer {
  background-color: white;
  border-radius: 10px;
  display: flex;
  width: 70%;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contactContainer:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.formSection, .infoSection {
  flex: 1;
  padding: 20px;
}

.infoSection {
  border-left: 2px solid #6c2dc7;
}

h1 {
  color: #6c2dc7;
  margin-bottom: 20px;
  font-weight: bold;
}

.container strong {
  color: #6c2dc7;
}

.contactInfo {
  margin-top: 10px;
}

.contactInfo p {
  font-weight: bold;
  margin: 15px 0;
}

.icon {
  color: purple;
  margin-right: 10px;
}

.input, .textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #6c2dc7;
  border-radius: 5px;
  margin-bottom: 20px;
}

.textarea {
  height: 100px;
}

.button {
  background-color: #6c2dc7;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 50px;
  width: 60%;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #5b25a8;
  transform: scale(1.05);
}

.socialMedia {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.socialIcon {
  color: purple;
  margin: 0 10px;
  font-size: 24px;
}

.followUs {
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
}

.socialHandles {
  display: flex;
  align-items: center;
}

.socialHandles p {
  margin: 0;
  margin-right: 10px;
}

/* Mobile View Adjustments */
@media (max-width: 640px) {
  .contactContainer {
    flex-direction: column;
    width: 100%;
    max-width: none;
    padding: 15px;
    height: 80vh; /* Limit height to 80% of viewport */
    margin: 20px 0;
    overflow-y: auto; /* Allow scrolling if content exceeds height */
  }

  .formSection, .infoSection {
    max-width: 100%;
    width: 100%;
    padding: 15px;
  }

  .infoSection {
    border-left: none;
    border-bottom: 2px solid #6c2dc7;
  }

  .input, .textarea, .button {
    width: 80%;
    margin: 10px auto;
  }

  .button {
    width: 80%;
    margin: 15px auto;
  }

  .socialHandles {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .socialIcon {
    margin: 15px 0;
    font-size: 28px;
  }

  .followUs {
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: #6c2dc7;
  }

  .socialHandles p {
    margin: 0 0 10px 0;
    color: #6c2dc7;
  }
}
