/* src/App.css */
.app {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f8ff; /* Light background for the app */
}
/* global.css */
.Toastify__toast-container {
  z-index: 9999;
}

.Toastify__toast {
  background-color: #2b133d;
  color: white;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.Toastify__close-button {
  color: white;
}

.Toastify__toast--success {
  background-color: #28a745;
}

.Toastify__toast--error {
  background-color: #dc3545;
}

.Toastify__toast--info {
  background-color: #17a2b8;
}

.Toastify__toast--warning {
  background-color: #ffc107;
}
